* {
    text-align: center;
}

#board_table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 100px;
    border: solid 5px black;
}

#tile_table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border: solid 5px black;
    box-shadow: 5px 5px;
}

.tile {
    width: 50px;
    height: 50px;
    background-color: rgb(45, 102, 49);
}

.triple {
    width: 50px;
    height: 50px;
    background-color: rgb(249, 38, 53);
}

/* .triple:before {
    content: "TW";
} */

.double {
    width: 50px;
    height: 50px;
    background-color: rgb(252, 216, 89);
}

/* .double:before {
    content: "DW";
} */

.double_letter {
    width: 50px;
    height: 50px;
    background-color: rgb(190, 219, 254);
}

/* .double_letter:before {
    content: "DL";
} */

.triple_letter {
    width: 50px;
    height: 50px;
    background-color: rgb(17, 140, 233);
}

/* .triple_letter:before {
    content: "TL";
} */

.hovered {
    background: lightgrey;
}

#letters {
    display: flex;
    flex-direction: row;
}

#dragable_letter {
    border: 3px solid grey;
    border-radius: 5px;
    width: 43px;
    height: 32px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0;
    margin-left: 1px;
    background-color: ivory;
}

#play_game {
    margin-top: 10px;
    padding: 10px;
}

#submit_word {
    margin-top: 10px;
    padding: 10px;
}

#swap_tiles {
    margin-top: 10px;
    padding: 10px;
}

#pass {
    margin-top: 10px;
    padding: 10px;
}